<mat-card>
  <h2>Get schema for a query</h2>
  <p>
    Please directly enter the query into the field below. If it's a valid query,
    the output schema will be displayed.
  </p>
  <div class="queryInput">
    <mat-form-field appearance="outline" class="wide">
      <mat-label>Enter query here</mat-label>
      <textarea
        matInput
        #input
        placeholder="eg. 'select * from stream1'"
        [(ngModel)]="query"
      ></textarea>
    </mat-form-field>
  </div>

  <!-- <div class="statusText">
    <pre
      >{{ statusText }}
</pre
    >
  </div> -->
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="getSchema()">
      Get Schema
    </button>
  </div>
</mat-card>
