<mat-card>
  <h2>Delete Streams</h2>
  <p>Enter the name of the stream you want to delete.</p>

  <mat-form-field appearance="outline">
    <mat-label>Stream Name</mat-label>
    <input
      matInput
      #input
      maxlength="10"
      placeholder="eg. Stream1"
      [(ngModel)]="streamName"
    />
  </mat-form-field>

  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="deleteStream(streamName)"
    >
      Delete Stream
    </button>
  </div>
  <!-- <div>
    <span class="statusText">{{ statusText }}</span>
  </div> -->
</mat-card>
