.queryListContainer {
  display: grid;
  grid-template-columns: 1fr 3fr auto auto auto;
}

.queryEntry,
.queryIdEntry {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.queryControl,
.tableHead {
  margin: 0.5rem;
  padding: 0.5rem;
}

.statusText {
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
}
