<mat-expansion-panel
  (opened)="panelOpenState = true; getQueries()"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> View / Delete Registered Queries </mat-panel-title>
    <mat-panel-description>
      {{
        panelOpenState
          ? ""
          : "View or delete registered queries inside ChronicleDB"
      }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngFor="let entry of queryList; let i = index">
    <div class="queryListContainer">
      <div class="queryIdEntry">{{ entry.queryId }}</div>
      <div class="queryEntry">
        {{ entry.query }}
      </div>

      <div>
        <button
          class="queryControl"
          mat-stroked-button
          color="primary"
          (click)="deleteQuery(entry.queryId)"
        >
          Delete
        </button>
      </div>

      <div>
        <button
          class="queryControl"
          mat-stroked-button
          color="primary"
          (click)="getSchema(entry.query)"
        >
          Get Schema
        </button>
      </div>
    </div>
  </div>

  <div class="statusText">
    <pre>{{ statusText }}</pre>
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="getQueries()">
      Update Query List
    </button>
  </div>
</mat-expansion-panel>
