<mat-card>
  <h2>Register a query</h2>
  <p>
    Enter the query id and the query itself into the fields below. Please note
    that the query won't be checked for validity. An invalid query can be
    registered, but will fail to evaluate.
  </p>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Query ID</mat-label>
      <input matInput #input placeholder="eg. Query1" [(ngModel)]="queryId" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="wide">
      <mat-label>Query</mat-label>
      <textarea
        matInput
        #input
        placeholder="the input query"
        [(ngModel)]="query"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="registerQuery(queryId, query)"
    >
      Register Query
    </button>
  </div>
</mat-card>
