<mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Register new query </mat-panel-title>
    <mat-panel-description>
      {{ panelOpenState ? "" : "Register a new query inside ChronicleDB" }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- <div class="container"> -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Query ID</mat-label>
      <input matInput #input placeholder="eg. Query1" [(ngModel)]="queryId" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="wide">
      <mat-label>Query</mat-label>
      <textarea
        matInput
        #input
        placeholder="the input query"
        [(ngModel)]="query"
      ></textarea>
    </mat-form-field>
  </div>
  <!-- </div> -->

  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="registerQuery(queryId, query)"
    >
      Register Query
    </button>
  </div>
  <div>
    <span class="statusText">{{ statusText }}</span>
  </div>
</mat-expansion-panel>
