.streamEntry {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
}

// override the global button style of floating right
button {
  float: none;
}

#refreshButton {
  // width: 5rem;
  // float: right;
  align-self: flex-end;
}

.tableHead {
  // flex: 1;
  padding: 1rem 1rem;
}
