<br />
<div class="mainGrid">
  <div id="sidePanel">
    <mat-card>
      <img class="logo" src="assets/lambda_icon.png" alt="Lambda Icon" />
      <h3>Streams</h3>
      <div routerLinkActive="activeLink">
        <a [routerLink]="['streamlist']">Overview</a>
      </div>
      <div routerLinkActive="activeLink">
        <a [routerLink]="['createstream']">Create Stream</a>
      </div>
      <div routerLinkActive="activeLink">
        <a [routerLink]="['insertelements']">Insert Elements</a>
      </div>
      <h3>Queries</h3>
      <div routerLinkActive="activeLink">
        <a [routerLink]="['editquery']">Overview</a>
      </div>
      <div routerLinkActive="activeLink">
        <a [routerLink]="['registerquery']">Register Queries</a>
      </div>
      <div routerLinkActive="activeLink">
        <a [routerLink]="['getschema']">Get Schema</a>
      </div>
      <div routerLinkActive="activeLink">
        <a [routerLink]="['evaluate']">Evaluate</a>
      </div>
    </mat-card>
  </div>

  <div>
    <div>
      <router-outlet></router-outlet>
    </div>
    <div class="statusTextWindow">
      <pre>{{ statusText }}</pre>
    </div>
  </div>
</div>
