mat-card {
  width: 80%;
  max-width: 58rem;
  margin: auto;
}

.card-content {
  // a class that creates some padding for the card content
  padding: 1rem;
}

.logo {
  width: 100%;
  max-width: 10rem;
  margin: auto;
  display: block;
}
