mat-card {
  border: 2px solid #293e43;
  width: 80%;
  max-width: 58rem;
  margin: auto;
}

mat-expansion-panel {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card-content {
  padding: 1rem;
  margin: 1rem;
}

.panel {
  padding: 1rem;
  margin: 1rem;
}

.logo {
  width: 100%;
  max-width: 10rem;
  margin: auto;
  display: block;
  margin-bottom: 2rem;
}

button {
  margin-left: 0;
}

.statusText {
  text-align: right;
  display: inline;
  float: right;
}

h2 {
  margin-left: 1rem;
}
