<br />
<img
  class="logo"
  mat-card-image
  src="assets/lambda_icon.png"
  alt="Lambda Icon"
/>
<mat-card>
  <mat-card-header>
    <mat-card-title>LAMBDA-MINI</mat-card-title>
    <mat-card-subtitle
      >Create sample streams, entries and queries inside Lambda
      Engine</mat-card-subtitle
    >
  </mat-card-header>

  <div class="card-content">
    <app-status></app-status>
    <h2>Streams</h2>
    <app-streamlist></app-streamlist>
    <app-create-stream></app-create-stream>
  </div>
</mat-card>
