button {
  margin: 0.5rem;
}

mat-form-field {
  margin-right: 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
